html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

html,
body,
ol,
ul {
	margin: 0;
	padding: 0;
}

body {
	-webkit-user-select: none;
}

table {
	border-spacing: 0;
}

td {
	vertical-align: top
}

input,
textarea {
	outline: none
}

textarea {
	resize: none;
	overflow: hidden;
}

.col-head-line,
.row-head-line,
.selected-container,
.datasource-container {
	transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	-o-transition: .2s;
}

.row-head-item {
	border-bottom: 1px solid #bfbfbf;
	width: inherit;
}

.col-head-item {
	border-right: 1px solid #bfbfbf;
	height: 100%;
}

.col-head-item,
.row-head-item {
	position: absolute;
	cursor: pointer;
	overflow: hidden;
}

.col-head-item .item,
.row-head-item .item {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: inherit;
	height: inherit;
}

.col-head-item:hover,
.row-head-item:hover {
	background: #9fd5b7
}

.col-head-item.active,
.row-head-item.active {
	background: #e1e1e1;
	color: #217346;
	font-weight: 700;
}

.col-head-bg {
	border-bottom: 1px solid #bbb;
}

.row-head-bg {
	border-right: 1px solid #bbb;
	height: inherit;
	width: inherit;
}

.col-head-height {
	height: 19px;
}

.row-head-width {
	width: 36px;
}

.row {
	border-bottom: 1px solid #d4d4d4;
	position: absolute;
	width: 100%;
}

.col {
	border-right: 1px solid #d4d4d4;
	height: 100%;
	position: absolute;
}

.cui-grid {

	/*width: 100%;
	height: 100%;*/
	background: #fff;
}

.row-head-container,
.col-head-container {
	font-family: "Microsoft Yahei", sans-serif;
	font-size: 10pt;
	overflow: hidden;
}

.left-corner {
	border-width: 0 1px 1px 0;
	border-color: #bfbfbf;
	border-style: solid;
	height: 19px;
	width: 36px;
}

.col-active {
	color: #217346;
	font-weight: 700;
}

.line-container {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.row-head-line {
	z-index: 10;
	border: 2px solid #217346;
	border-right-width: 0;
	right: 0;
	width: 0;
	position: absolute;
	margin-top: -1px
}

.col-head-line {
	z-index: 10;
	border: 2px solid #217346;
	border-bottom-width: 0;
	bottom: 0;
	height: 0;
	position: absolute;
	margin-left: -1px;
}

/*.select {
			position: absolute;
			border: 2px solid #217346;
			-webkit-transition: .2s;
}*/
.selected-container,
.datasource-container {
	position: absolute;
	border: 2px solid #217346;
	margin: -1px;
	overflow: hidden;
	z-index: 99;
}

.datasource-container {
	border:2px dotted #000;
}

.selected-container .box {
	position: relative;
	height: 100%;
}

.selected-container .box .bg {
	background: #141414;
	opacity: .24;
	height: 100%;
}

.edit-frame {
	position: absolute;
	border: none;
	margin: 0;
	padding: 0 0 0 2px;
	z-index: 100;
	background: #fff;
}

.selected-container .box .expand {
	position: absolute;
	bottom: -1px;
	right: -1px;
	width: 3px;
	height: 3px;
	z-index: 2;
	background: #217346;
	border: 1px solid #fff;
	cursor: crosshair;
}

.col-head-panel,
.row-head-panel {
	position: relative;
	height: inherit;
	width: inherit;
}

.cells-container {
	position: relative;
}

.row-container,
.col-container {

	/*position: relative;*/
	width: 100%;
	height: 100%;
	position: absolute;
}

.content-container {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2
}

.cotnent-list {
	position: relative;
}

.container {
	overflow: hidden;
}

.col-head-highlight,
.row-head-highlight {
	position: relative;
}

.scroll-container {
	overflow: auto;
}

.content-list {
	position: relative;
	font-family: SimSun;
	font-size: 11pt;
}

.content-list .item {
	position: absolute;
	overflow: hidden;
	cursor: default;
	border: 1px solid transparent;
	font-size: inherit;
	font-family: inherit;
}

.content-list .item .bg {
	height: inherit;
	width: inherit;

}

.frozen-right-border {
	border-right: 1px solid #777;
}

.frozen-bottom-border {
	border-bottom: 1px solid #777;
}

.cells-layout {
	position: absolute;
	bottom: 30px;
	z-index: 99;
	top: 130px;
}

#content {
	position: relative;
}

/*输入框*/
.input-container {
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	border: none;
	z-index: 100;
	resize: none;
	padding: 1px;
	margin: 0;
	font-size: 14px;
	overflow: hidden;
}

.main-layout {
	position: absolute;
	bottom: 30px;
	z-index: 99;
	top: 0px
}

.temp-space-container {
	position: relative;
	height: inherit;
	width: inherit;
}

.col-space-container {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 98;
	border-right: 1px solid #217346;
}

.row-space-container {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 98;
	border-bottom: 1px solid #217346;
}

.sheet-layout {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}

.sheet-body {
	background: #f1f1f1;
	padding-left: 36px;
	padding-bottom: 4px;
	overflow: hidden;
}

.sheet-list {
	overflow: hidden;
	max-width: 800px;
}

.sheet-list li {
	float: left;
	padding: 3px 17px;
	height: 18px;
	border: 2px solid #ccc;
	border-top-width: 0;
	cursor: default;
}

.sheet-list li span {
	font-family: 'Microsoft Yahei';
	font-size: 10pt;
}

.sheet-list li.last {
	border-right-width: 2px;
}

.sheet-list li.active {
	background: #fff;
	border-bottom-color: #216347;
}

.sheet-list li.active span {
	color: #216347;
}

.sheet-cf-list {
	float: left;
	overflow: hidden;
	margin-left: 20px;
}

.sheet-cf-box {
	border-width: 1px;
	height: 14px;
	padding: 6px 12px;
	float: left;
}

.sheet-cf-box.active {
	background: #fff;
}