<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="http://excel-inc.acmr.com.cn/spreadsheet/css/main.css">
</head>
<body>
	<style type="text/css">
		#spreadsheet{
			width: 500px;
			height: 500px;
		}
	</style>
	<div id="spreadsheet"></div>
	<script type="text/javascript">
		window.SPREADSHEET_AUTHENTIC_KEY="ecead0bc-c539-46eb-ae1e-1060c66e87e5";
		window.SPREADSHEET_BUILD_STATE="true";
	</script>
	<script type="text/javascript" src="http://localhost:4711/dist/fengniao.js"></script>
	<!--<script type="text/javascript" src="http://excel-inc.acmr.com.cn/spreadsheet/dist/my.js"></script>-->
	<script type="text/javascript">
		var ss = new SpreadSheet('spreadsheet');
		ss.clearQueue();
        ss.reloadCells();
        ss.setCellHeight('1', '1', 0);
        ss.setCellHeight('1', '2', 0);
        ss.setCellWidth('1', 'A', 0);
        ss.reloadCells();	
	</script>
</body>
</html>